@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.court {
  min-height:calc(100vh - 78px - 253px);
}
.courtinterpreter__content__fondo {
  background-color:violet;
  width:50%;
  border-radius:20px;
  margin:0 auto;
  color:white;
  padding:10px;
}
.container__court {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align:start;
  padding: 20px;
  font-size:20px;
}
.title__court {
  text-align:center;
}
.Button__comprar {
  text-align:center;
  padding:20px;
}
@media only screen and (max-width: 600px) {
  .title__bridgi {
    width:100%;
    
  }
  }